include LICENSE
include README.md
include .robot-doctor.example.json
recursive-include docs *.md
recursive-include schemas *.json
recursive-include tests *.py *.json *.md *.xml *.yaml *.cpp *.hpp *.msg *.urdf CMakeLists.txt setup.py setup.cfg pyproject.toml
